<html>
	<head>
		<meta name="go-import" content="${SOURCE} ${VCS} ${DESTINATION}" />
		<meta name="go-source" content="${SOURCE} _ ${DESTINATION}/tree/${TREE}{/dir} ${DESTINATION}/tree/${TREE}{/dir}/{file}#L{line}">
		<meta http-equiv="refresh" content="0;URL='${DESTINATION}'" />
	</head>
	<body>
		<a href="${DESTINATION}">Redirecting</a>
	</body>
</html>
